<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  

    <div class="navbar-brand">
       
        <!-- 左側logo -->
        <a class="navbar-item" href="/"><%= image_pack_tag "citiesocial_logo.png" %></a>
        
        <!-- 漢堡選單 -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

        <!-- 產品搜尋框 -->
        <div class="navbar-item field has-addons">
            
            <div class="control">
              <input class="input" type="text" placeholder="輸入產品關鍵字">
            </div>
            
            <div class="control">
                <a class="button is-primary">
                  <i class="fas fa-search is-size-7"></i> &nbsp; 搜尋
                </a>
            </div>

        </div>

    </div>

    <div id="navbarBasicExample" class="navbar-menu">
    
        <div class="navbar-end">
            <div class="navbar-item">      
                <div class="buttons">

                    <% if user_signed_in? %>

                    <!-- shop cart -->
                    <div class="navbar-item" data-controller = "cart">
                        
                        <%= link_to cart_path do %>
                            <i class="fas fa-shopping-cart"></i>
                            <span data-cart-target = "count" data-action="addToCart@document->cart#updateCart"> (<%= current_cart.items.count%>) </span>
                        <% end %>
                    
                    </div>

                        <div class="navbar-item has-dropdown is-hoverable">
                            
                            <a class="navbar-link"><i class="fas fa-user"></i> &nbsp; <%= current_user.email %></a>
            
                            <div class="navbar-dropdown">
                                <a class="navbar-item">個人資料</a>
                                
                                <%= link_to "訂單紀錄", orders_path, class:"navbar-item" %>
                                
                                <hr class="navbar-divider">
                                <%= link_to "登出", destroy_user_session_path, method:"delete", class: "navbar-item" %>
                            </div>
            
                        </div>
                    
                    <% else %>
                        <strong><%= link_to "註冊", new_user_registration_path, class: "button is-primary"%></strong>
                        <%= link_to "登入",new_user_session_path, class: "button is-light" %>
                    
                    <% end %>

                </div>
            </div>
        </div>

    </div>

</nav>