<section class="container">

    <div class="columns is-12">

      <!-- 3/12 Enroll side -->
      <div class="column is-3">   
          
          <h2 class="title is-size-5">趕緊手刀註冊加入我們的會員！</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
       
          <!-- 信箱 -->
          <div class="field">
            <%= f.label :email, "信箱", class: 'label' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
          </div>

          <!-- 密碼 -->
          <div class="field">
            <%= f.label :password, "密碼", class: 'label' %>
            <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
            <% if @minimum_password_length %>
            <em>(請確認輸入密碼長度至少有<%= @minimum_password_length %>個字元 )</em>
            <% end %>
          </div>

          <!-- 密碼確認 -->
          <div class="field">
            <%= f.label :password_confirmation, "確認密碼", class: 'label' %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
          </div>

          <!--註冊按鍵  -->
          <div class="actions"><%= f.submit "註冊", class: "button is-primary"%></div>

          <% end %>

          <hr>

          <!-- 登入 / 第三方登入 -->
          <%= render "devise/shared/links" %>
          
      </div>

      <!-- 9/12 Picture -->
      <div class="column is-9">
        <%= image_pack_tag "enroll/971212-06.jpg" %>
      </div>

    </div>
   
</section>