<section class="section">
  <table class="table is-fullwidth">
    
    <thead>
      <tr>
        <th>訂單編號</th>
        <th>日期</th>
        <th>金額</th>
        <th>功能</th>
        <th>出貨進度</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
      <tr>

        <% unless order.may_cancel? %> 
          <td><%= order.num %></td>
        <% else %>
          <td><%= link_to order.num, order_path(order) %></td>
        <% end %>

        <td><%= order.created_at %></td>

        <td><%= order.total_price %></td>
        <td>
            <%= link_to "付款", pay_path(order), data: {confirm: "確認付款?"}, class: 'button is-primary is-mall' if order.may_pay? %>
            <%= link_to "取消", order_path(order), method:"delete", data: {confirm: "確認取消訂單？"}, class: 'button is-danger is-mall' if order.may_cancel? %>
         </td>
         
         <td><%= order.state %> </td>  

      </tr>
      <% end %>
    </tbody>

  </table>
  
</section>
