<!-- Show ERROR message if sheet content can't pass model validation -->
<% if product.errors.any? %>
    <div class="notification is-danger is-marginless" >
        <% product.errors.each do |error| %>
            <%= error.full_message %></br>
        <% end %>
    </div>
<% end %>


<%= form_with(model: [:admin, product]) do |form| %>

  <!-- 商品圖檔上傳 -->
    <div>
      <%= form.file_field :cover_image %> </br>
      <%= image_tag form.object.cover_image.variant(resize: "250x300") if form.object.cover_image.attached? %>
    </div>

    <hr>

    <!-- 一列選單：商品名 + 廠商 + 分類-->
    <div class="columns">

      <!-- 商品名稱 -->
      <div class="column is-6">
        <div class="field">
          <%= form.label :name, '商品名稱', class: 'label' %>
          <%= form.text_field :name, class: 'input is-medium' %>
        </div>
      </div>

      <!-- 廠商選單 -->
      <div class="column is-3">
        <div class="field">
          <%= form.label :vendor_id, '廠商', class: 'label' %>
          <div class="select is-medium is-fullwidth">
            <%= form.collection_select :vendor_id, Vendor.available, :id, :title %>
          </div>
        </div>
      </div>

      <!-- 分類選單 -->
      <div class="column is-3">
        <div class="field">
          <%= form.label :category_id, '分類', class: 'label' %>
          <div class="select is-medium is-fullwidth">
            <%= form.collection_select :category_id, Category.all, :id, :name %>
          </div>
        </div>
      </div>

    </div>
  
    <!-- 二列選單：定價 + 售價 -->
    <div class="columns">

      <!-- 定價  -->
      <div class="column">
        <div class="field">
          <%= form.label :list_price, '定價', class: 'label' %>
          <%= form.number_field :list_price, class: 'input is-medium' %>
        </div>
      </div>

      <!-- 售價 -->
      <div class="column">
        <div class="field">
          <%= form.label :sell_price, '售價', class: 'label' %>
          <%= form.number_field :sell_price, class: 'input is-medium' %>
        </div>
      </div>

    </div>
  
    <!-- 是否上架 -->
    <div class="field">
      <%= form.check_box :on_sell %>
      <%= form.label :on_sell, '是否上架？', class: 'checkbox' %>
    </div>

    <!-- 文字編輯器 -->
    <div class="column">
      <div class="field">
        <%= form.label :description, '描述', class: 'label' %>
        <%= form.rich_text_area :description, class: 'input is-medium' %>
      </div>
    </div>

    <hr>

    <h3>庫存項目</h3>

    <!-- 動態庫存生成 -->
    <div class="field" data-controller = "product-form">
      
      <!-- 動態生成樣板 -->
      <template data-product-form-target="template">
        <%= form.fields_for :skus, Sku.new, child_index:"NEW_RECORD" do |sku| %>
          <%= render 'sku_form', form: sku %>
        <% end %>
      </template>

      <!-- 庫存表單 -->
      <%= form.fields_for :skus do |sku_form| %>
        <%= render 'sku_form', form: sku_form %>
      <% end %>

      <div data-product-form-target ="link">
        <%= link_to "新增品項", "#", class: "button is-success", data: {action: "product-form#add_sku"}  %>        
      </div>

    </div>

    <% if product.created_at == nil %>
      <%= form.submit "新增產品", class: 'button is-primary is-medium' %>
    <% else %>
      <%= form.submit "更新產品資訊", class: 'button is-primary is-medium' %>
    <% end %> 

  <% end %>