<div class="columns nested-fields"  data-new-record="<%= form.object.new_record? %>">

  <!-- 規格 -->
  <div class="column is-6">
    <div class="field">
      <%= form.label :spec, '規格', class: 'label' %>
      <%= form.text_field :spec, class: 'input' %>
    </div>
  </div>

  <!-- 數量 -->
  <div class="column is-2">
    <div class="field">
      <%= form.label :quantity, '數量', class: 'label' %>
      <%= form.number_field :quantity, class: 'input' %>
    </div>
  </div>

  <!-- Delete -->
  <div class="column is-1">
    <div class="field">
      <%= link_to "刪除", "#", class:"button is-danger", data:{ action:"product-form#remove_sku", confirm:"確認刪除?" } %>
      <!-- <i class="far fa-times-circle"></i> -->
    </div>
  </div>


  <%= form.hidden_field :_destroy %>

  <div class="column">
  </div>

</div>