<h1 class= "title">產品列表</h1>

<%= link_to "新增產品", new_admin_product_path, class: "button is-primary" %>


<table class="table is-fullwidth">
 
  <thead>
    <tr>
      <th>商品</th>
      <th>類別</th>
      <th>編號</th>

      <th>圖示</th>
      <th>說明</th>

      <th>廠商</th>
      <th>原價</th>
      <th>特價</th>
      <th>銷售狀態</th>

      <th>存貨量</th>
      <th>編輯</th>

      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @products.each do |product|  %>
      <tr>
        <td><%= link_to "#{product.name} ", edit_admin_product_path(product) %></td>
        <td><%= product.category&.name %></td>
        <td><%= product.code %></td>
        <td><%= image_tag product.cover_image.variant(resize: "250x250") if product.cover_image.attached?  %></td>
        <td><%= product.description %></td>
        <td><%= product.vendor&.title %></td>
        <td><%= product.list_price %> </td> 
        <td> <%= product.sell_price %></td>
        <td><%= product.on_sell %></td>
       
        <td>
          <% product.skus.each do |skus| %>
            <%= skus.spec %>
            <%= skus.quantity %>
          <% end %>
        </td>

        <td>
          <%= link_to "編輯", edit_admin_product_path(product), class: 'button is-primary is-small' %>
          <%= link_to "刪除", admin_product_path(product), method: 'delete', data: { confirm: '確認刪除?!' }, class: 'button is-danger is-small' %>
        </td>

      </tr>
    <% end %>

    <%= paginate @products %>

  </tbody>



</table>