<section class="product_list section">

  <section class="container">
    
    <div class="columns is-multiline">
      
      <% products.each do |product| %>

        <!-- unit of products info -->
        <div class="column is-4">
          <div class="card product-item is-shadowless">
            
            <!-- Product image -->
            <div class="card-image">
              <figure class="image">
                <%= link_to product_path(product) do %> 
                  <%= image_tag product.cover_image.variant(resize: "250x250") if product.cover_image.attached? %>
                <% end %>
              </figure>
            </div>
            
            <!-- Product Name + Description -->
            <div class="card-content">
              <div class="content">
                <h4 class="is-size-6">
                  <%= link_to product_path(product), class: "has-text-dark" do %>
                    <%= product.name %>
                  <% end %>
                </h4>

                <p class><%= product.description %></p>
              </div>
            </div>

          </div>
        </div>

      <% end %>

    </div>

  </section>
</section>