<!DOCTYPE html>
<html>

  <head>
    <title>後台管理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'backend', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "shared/backend/flash" if notice %>
    <%= render "shared/backend/navbar" %>
    <%= yield %>

    
  </body>

</html>